/* This is a bit better than setting border-box everywhere */

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin:0;
}
a:link {
  text-decoration: none;
}

#app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  flex:1;
}
* {
  font-family: 'Roboto', 'Helvetica', sans-serif 
}

/*////////////////
CREATE PAGE
////////////////*/

.titleInput, .create, .homeButton {
  /*background: rgba(228, 224, 224, 0.47);*/
  border: #000;
  border-radius: 4px;
  color: #515b61;
  font-size: 1.3em;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  z-index: 100;
  /*text-shadow: 1px -1px 2px #0a090a;*/
}

.plotPage,.map_div,.list_div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.map, .list{
    flex: 1;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background: rgba(228, 224, 224, 0.47);
}

.list {
  overflow-y: scroll;
}

.map {
   background-color: rgb(229, 227, 223);
}


/*////////////////
LIST PAGE
////////////////*/



/*h1 {*/
/*  font-family: 'Roboto', 'Helvetica', sans-serif ;*/
/*  padding: 10px;*/
/*  margin: 0px;*/
/*}*/

.path-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.5em 0;
    padding: 0;
}

.listItem {
  list-style: none;
  margin: 0.3em 0.5em;
}

/*.itemButton {
  border: none;
  cursor: pointer;
  padding: 15px 40px 15px 40px;
  margin-left: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif ;
}*/

/*////////////////
CRUMB MENU
////////////////*/

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  z-index: 100;
}
.menu.visible {
  display: block;
}

.top_menu {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
}

/*.menu {
    display:block;

    @menu-width:250px;

    >div {
        position:absolute;
        z-index:2;
        top:0;
        width:@menu-width; 
        height:100%; 
        .border-box; 
        .transition(-webkit-transform ease 250ms); 
        .transition(transform ease 250ms);

        &.left {
            background:#273D7A;
            left:@menu-width*-1;
        }

        &.visible.left {
            .transform(translate3d(@menu-width, 0, 0));
        }

        &.right {
            background:#6B1919;
            right:@menu-width*-1;
        }

        &.visible.right {
            .transform(translate3d(@menu-width*-1, 0, 0));
        }

        >.menu-item {
            float:left;
            width:100%;
            margin:0;
            padding:10px 15px;
            border-bottom:solid 1px #555;
            cursor:pointer;
            .border-box;
            color:#B0B0B0;

            &:hover {
                color:#F0F0F0;
            }
        }
    }
}*/

/*////////////////
VIEW PAGE
////////////////*/

.viewTitleDiv, .listTitleDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /*background: rgba(228, 224, 224, 0.47);*/
}


.main1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  min-height: 100vh;
}

.map1 {
  flex: 3;
  border: 2px solid red;
}

#buttonsDiv {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  flex: 0 54px;
  margin: 0.5em;
}



.itemButton, .nextButton, .startButton, .locate, .homeBut, .createButton {
  font-size: 1.3em;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  padding: 0.5em;
  z-index: 100;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  margin: 0;
}

.nextButton, .startButton, .locate, .homeBut, .createButton{
  text-align: center;
  margin: 5px;
}

.nextButton, .startButton, .createLink, .createButton {
  flex-grow: 4;
}

.createLink {
  display: flex;
}

.locate, .homeLink {
  flex-grow: 0;
  
}

.nextButton, .startButton, .createButton{
  background-color: mediumaquamarine;
}

.itemButton, .locate, .homeBut {
  background-color: silver;
}

.itemButton {
  width: 100%;
  text-align: left;
}

.locate:active:hover , .itemButton:active:hover, .homeBut:active:hover  {
  background-color: #ee5500;
}

.nextButton:active:hover , .startButton:active:hover, .createButton:active:hover {
  background-color: lightgreen;
}

a:link {
  text-decoration: none;
}

/*.itemDiv:link {*/
/*}*/


h1 {
  border: none;
  margin: 0;
  padding: 15px 10px;
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  /*width: 100vw;*/
  /*width: 100%;*/
  /*background: rgba(228, 224, 224, 0.47);*/
  z-index: 100;
  color: #515b61;
  flex-grow: 4;
  /*text-decoration: none;*/
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.fa-location-arrow, .fa-home {
  padding-left: 5px;
  padding-right: 5px;
  flex: 1;
}

.titleInput {
  color: rgb(147,0,15);
  text-transform: capitalize;
}

/*/////////////////
HOME PAGE
/////////////////*/

.homePage {
    align-content: stretch;
    align-items: center;
    background-color: rgb(20,35,57);
    background-image: linear-gradient( 70deg, rgb(20,35,57), rgb(147,0,15), rgb(249,174,0), rgb(147,0,15), rgb(20,35,57) );
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    /* opacity: 0.5; */
    width: 100vw;
}

/*showing ^ gradient*/
/*.hPWhite {
    align-items: center;
    background-image: url("../images/puffins-in-snow.jpg");
    background-position:50%, 125%;
    background-size: 250%;
    display: flex;
    /* flex: 1; 
    flex-direction: column;
    flex-grow: 1;
    height: calc(100vh - 1.2em);
    justify-content: space-around;
    margin: 1em;
    width: calc(100vw - 1.2em);
}*/

.hPWhite {
    align-items: center;
    background-image: url("../images/puffins-in-snow-1500x1500.jpg");
    background-position: 50% 80%;
    background-size: cover;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    justify-content: space-around;
    /* margin: 1em; */
    width: 100vw;
}

.homeButton {
    padding: 1.2em;
    width: 30vw;
}

.emptyHP {
    height: 15vh;
}